@media (prefers-reduced-motion: no-preference) {
    .slideRightAppear {
        animation: slide-right-appear .85s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes slide-right-appear {
    from {
        transform: translateX(-1em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}