.container {
    display: grid;

    background: linear-gradient(90deg, #f6f4eb, transparent 2% 98%, #f6f4eb),
      linear-gradient(#f6f4eb, transparent 2% 98%, #f6f4eb),
      linear-gradient(#def4ff 0% 100%);
}

figure {
    padding-block: 1em;
    padding-inline: 40px;
  
    margin-block: 0;
    margin-inline: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .container {
        opacity: 0;
    }

    figure {
        opacity: 0;
    }

    .smoothAppear {
        animation: smooth-appear .85s ease-out;
        animation-fill-mode: forwards;
    }

    .slideUpAppear {
        animation: slide-up-appear .85s ease;
        animation-fill-mode: forwards;
    }

    .slideRightAppear {
        animation: slide-right-appear .85s ease;
        animation-fill-mode: forwards;
    }
}

.vertical {
    grid-template-rows: 1fr 1fr;
}

.horizontal {
    grid-template-columns: 1fr 1fr;
}

img {
    border-radius: 3em;

    width: 100%;
}

figcaption {
    text-align: center;
    color: #91c8e4;
}

@keyframes smooth-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up-appear {
    from {
        transform: translateY(1em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-right-appear {
    from {
        transform: translateX(-1em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
