.randomFact {
    color: #91c8e4;
}

@media (prefers-reduced-motion: no-preference) {
    .title {
        animation: slideRightAppear .85s ease;
        animation-fill-mode: forwards;
        animation-delay: .85s;
    }

    .randomFact, .text {
        opacity: 0;
        animation: slideLeftAppear .85s ease;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
}

@keyframes slideLeftAppear {
    from {
        opacity: 0;
        transform: translateX(1em);
    }
    to {
        opacity: 1;
    }
}

@keyframes slideRightAppear {
    from {
        transform: translateX(-1em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
